@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}



body {
    background: radial-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url("/assets/book.png") center/cover no-repeat fixed;
    min-width: 510px;
    height: 100vh;
}


header {
    padding: 1rem 0 2rem;
}

header h1 {
    font-size: 2rem;
    color: #ffd900;
    text-shadow: 1px 1px 5px #c5c5c5;
    text-align: center;
}


.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*  fr = fragment */
}

.inventory-container {
    min-width: 510px;
}

.skills-table,
.business-table {

    color: #c5c5c5;

}

.clicking-area-container {
    color: #c5c5c5;
    text-align: center;
}


.gold-coin {
    margin: 20px 0;
    width: 300px;
    height: 300px;
    user-select: none;
    cursor: pointer;

}

.gold-coin:hover {
    transform: scale(1.1);
}

.upgrade-stats-cell {
    width: 64px;
}

.upgrade-icon-cell {
    padding: 5px;
}

.skill-image {
    width: 100px;
    border-radius: 50%;
    border: 2px solid #ffd900;
    opacity: 0.7;
    user-select: none;
}

.skill-image:hover {
    cursor: pointer;
    opacity: 1;
}



@media screen and (max-width: 1400px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "gold gold" "perclick persec";
    }

    .clicking-area-container {
        color: #c5c5c5;

        cursor: pointer;
        grid-area: gold;
    }

    .clicking-area-container.perclick {
        grid-area: perclick;
    }

    .clicking-area-container.persec {
        grid-area: persec;
    }

}





@media screen and (max-width: 992px) {
    .main-container {
        grid-template-columns: 1fr;
        grid-template-areas: "gold" "perclick" "persec";
    }


}



@media screen and (max-width: 576px) {

    .main-container {
        grid-template-columns: 1fr;
        grid-template-areas: "gold" "perclick" "persec";
    }
}